In [18]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv(r'C:\Users\kazir\OneDrive\Desktop\Github\Data_ScienceJOBS\DS_JOBS\CSVs\DS_jobs_03062023.csv')

In [20]:
df.columns

Index(['alias', 'company_perks', 'elite', 'high_volume_poster', 'id',
       'job_slots', 'limited_listing', 'locations', 'premium', 'title',
       'total_employees', 'job_alias', 'body', 'category_id', 'company_id',
       'company_size', 'easy_apply', 'experience_level', 'hot_jobs_score',
       'how_to_apply', 'hybrid', 'job_id', 'industry_id', 'is_national',
       'location', 'original_location', 'remote', 'remote_status',
       'salary_max', 'salary_min', 'salary_single_value', 'salary_type',
       'sort_job', 'targeted_remote_locations', 'job_title', 'working_option'],
      dtype='object')

In [21]:
df

,alias,company_perks,elite,high_volume_poster,id,job_slots,limited_listing,locations,premium,title,...,remote,remote_status,salary_max,salary_min,salary_single_value,salary_type,sort_job,targeted_remote_locations,job_title,working_option
0,/company/warner-bros-discovery,[],True,True,64944,0,False,NaN,False,Warner Bros. Discovery,...,NOT_REMOTE,NOT_REMOTE,127953.0,68898.0,0.0,annual,2023-03-06 05:29:56,NaN,"Sr. Analyst, FCRA Audit",['IN-OFFICE']
1,/company/capital-one,[],True,False,81846,0,False,"['Chicago', 'Colorado', 'Los Angeles', 'Austin...",False,Capital One,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-03-06 06:46:42,NaN,"Manager, Data Scientist, Customer Protection D...",['IN-OFFICE']
2,/company/mcdonalds-global-technology,[],True,False,102896,0,False,"['Chicago', 'Colorado', 'Los Angeles', 'Austin...",False,McDonald's Global Technology,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-03-06 07:19:26,NaN,Machine Learning Ops Engineer,['IN-OFFICE']
3,/company/capital-one,[],True,False,81846,0,False,"['Chicago', 'Colorado', 'Los Angeles', 'Austin...",False,Capital One,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-03-06 06:35:01,NaN,Business Analyst - Senior Associate,"['HYBRID', 'IN-OFFICE']"
4,/company/gohealth,[],True,False,63857,0,False,NaN,False,GoHealth,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-03-06 11:19:28,NaN,"Strategy Analyst, Sales Strategy","['HYBRID', 'IN-OFFICE']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7564,/company/deepscribe,[],False,False,98020,0,True,[],False,DeepScribe,...,REMOTE_ENABLED,REMOTE_ENABLED,0.0,0.0,0.0,NaN,2023-01-10 15:26:14,NaN,Data Scientist,['REMOTE']
7565,/company/icertis,[],False,False,86596,0,True,[],False,Icertis,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-01-05 09:32:43,NaN,Senior Data Scientist - NLP - Remote,['IN-OFFICE']
7566,/company/icertis,[],False,False,86596,0,True,[],False,Icertis,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-01-05 09:32:34,NaN,Principal Data Scientist - NLP - Remote,['IN-OFFICE']
7567,/company/bottomline-technologies,[],False,False,89050,0,True,[],False,Bottomline Technologies,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-01-04 07:50:08,NaN,Matching Specialist,['IN-OFFICE']
7568,/company/dealeron,[],False,False,70945,0,True,[],False,DealerOn,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-01-02 00:49:44,NaN,Data Specialist I,['IN-OFFICE']

In [22]:
df['total_employees'].mean()

17637.755714096973

In [23]:
df['remote_status'].value_counts()

NOT_REMOTE        5502
REMOTE_ENABLED    2067
Name: remote_status, dtype: int64

In [24]:
df['title'].value_counts()

Capital One               151
JPMorgan Chase            132
City National Bank         81
Warner Bros. Discovery     78
Chewy                      60
                         ...
Foth                        1
Best Egg                    1
AlloVir                     1
Business Talent Group       1
DealerOn                    1
Name: title, Length: 2736, dtype: int64

In [25]:
df['salary_max'].mean()

45845.88226744186

In [26]:
df['salary_min'].mean()

32176.880486193684

In [27]:
df.loc[df['salary_max'].idxmax()]

alias                                           /company/warner-bros-discovery
company_perks                                                               []
elite                                                                     True
high_volume_poster                                                        True
id                                                                       64944
job_slots                                                                    0
limited_listing                                                          False
locations                                                                  NaN
premium                                                                  False
title                                                   Warner Bros. Discovery
total_employees                                                              0
job_alias                               /job/data/svp-digital-research/1494952
body                         Every great story has a new beginning, and you...
category_id                                                                147
company_id                                                               64944
company_size                                                               NaN
easy_apply                                                               False
experience_level                                                            7+
hot_jobs_score                                                             0.0
how_to_apply                 https://careers.wbd.com/global/en/job/R000060691/
hybrid                                                                   False
job_id                                                                 2481493
industry_id                                               [175, 195, 200, 215]
is_national                                                               True
location                                                     New York City, NY
original_location                                           New York, New York
remote                                                              NOT_REMOTE
remote_status                                                       NOT_REMOTE
salary_max                                                            499057.0
salary_min                                                            268723.0
salary_single_value                                                        0.0
salary_type                                                             annual
sort_job                                                   2023-03-03 05:33:58
targeted_remote_locations                                                  NaN
job_title                                                SVP, Digital Research
working_option                                                   ['IN-OFFICE']
Name: 131, dtype: object

In [28]:
df.loc[df['salary_max'].idxmax()]['salary_max']

499057.0

In [29]:
df['original_location'].value_counts()

Remote                    490
New York, New York        156
New York, NY              153
United States             152
Chicago, Illinois         147
                         ...
Remote (US/Canada)          1
Remote-US, Remote-CAN       1
New York, NY or remote      1
Chicago, Illinois, USA      1
Portsmouth, NH              1
Name: original_location, Length: 1475, dtype: int64

In [30]:
df.dtypes

alias                         object
company_perks                 object
elite                           bool
high_volume_poster              bool
id                             int64
job_slots                      int64
limited_listing                 bool
locations                     object
premium                         bool
title                         object
total_employees                int64
job_alias                     object
body                          object
category_id                    int64
company_id                     int64
company_size                  object
easy_apply                      bool
experience_level              object
hot_jobs_score               float64
how_to_apply                  object
hybrid                          bool
job_id                         int64
industry_id                   object
is_national                     bool
location                      object
original_location             object
remote                        object
remote_status                 object
salary_max                   float64
salary_min                   float64
salary_single_value          float64
salary_type                   object
sort_job                      object
targeted_remote_locations     object
job_title                     object
working_option                object
dtype: object

In [33]:
df['experience_level'].value_counts()

1-3    2311
3-5    2193
5-7    1905
7+     1152
0         6
1         2
Name: experience_level, dtype: int64

In [38]:
df['company_perks'].value_counts() # None
df.drop(columns='company_perks', inplace=True)

In [39]:
df.head(5)

,alias,elite,high_volume_poster,id,job_slots,limited_listing,locations,premium,title,total_employees,...,remote,remote_status,salary_max,salary_min,salary_single_value,salary_type,sort_job,targeted_remote_locations,job_title,working_option
0,/company/warner-bros-discovery,True,True,64944,0,False,NaN,False,Warner Bros. Discovery,0,...,NOT_REMOTE,NOT_REMOTE,127953.0,68898.0,0.0,annual,2023-03-06 05:29:56,NaN,"Sr. Analyst, FCRA Audit",['IN-OFFICE']
1,/company/capital-one,True,False,81846,0,False,"['Chicago', 'Colorado', 'Los Angeles', 'Austin...",False,Capital One,50000,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-03-06 06:46:42,NaN,"Manager, Data Scientist, Customer Protection D...",['IN-OFFICE']
2,/company/mcdonalds-global-technology,True,False,102896,0,False,"['Chicago', 'Colorado', 'Los Angeles', 'Austin...",False,McDonald's Global Technology,1400,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-03-06 07:19:26,NaN,Machine Learning Ops Engineer,['IN-OFFICE']
3,/company/capital-one,True,False,81846,0,False,"['Chicago', 'Colorado', 'Los Angeles', 'Austin...",False,Capital One,50000,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-03-06 06:35:01,NaN,Business Analyst - Senior Associate,"['HYBRID', 'IN-OFFICE']"
4,/company/gohealth,True,False,63857,0,False,NaN,False,GoHealth,3000,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-03-06 11:19:28,NaN,"Strategy Analyst, Sales Strategy","['HYBRID', 'IN-OFFICE']"

In [45]:
df['salary_min'].value_counts(ascending=False)

0.0         5423
100000.0      79
110000.0      63
120000.0      54
75000.0       50
            ...
149058.0       1
124200.0       1
65400.0        1
55100.0        1
110880.0       1
Name: salary_min, Length: 582, dtype: int64