In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('builtin_DS_jobs_030423.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'company_alias', 'company_perks', 'elite',
       'high_volume_poster', 'company_id', 'job_slots', 'limited_listing',
       'locations', 'premium', 'company_title', 'total_employees', 'job_alias',
       'job_description', 'category_id', 'company_size', 'easy_apply',
       'yrs_experience', 'hot_job_score', 'apply_link', 'hybrid', 'job_id',
       'industry_id', 'is_national', 'job_location', 'original_location',
       'remote', 'remote_status', 'salary_max', 'salary_min',
       'salary_single_value', 'salary_type', 'sort_date',
       'targeted_remote_locations', 'job_title', 'working_options'],
      dtype='object')

In [4]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [23]:
df

,company_alias,company_perks,elite,high_volume_poster,company_id,job_slots,limited_listing,locations,premium,company_title,...,remote,remote_status,salary_max,salary_min,salary_single_value,salary_type,sort_date,targeted_remote_locations,job_title,working_options
0,/company/conga,[],True,False,64999,0,False,NaN,False,Conga,...,IGNORE_REMOTE_FLAG,REMOTE_ENABLED,0.0,0.0,125620.0,annual,2023-03-04 11:35:56,"['Chicago', 'Colorado', 'Austin', 'Seattle', '...","Director, Analyst Relations-Remote USA","['HYBRID', 'REMOTE', 'IN-OFFICE']"
1,/company/peloton,[],True,False,64369,0,False,"['Chicago', 'Colorado', 'Los Angeles', 'Austin...",False,Peloton,...,REMOTE_ENABLED,REMOTE_ENABLED,0.0,0.0,0.0,NaN,2023-03-04 11:22:56,"['Chicago', 'Colorado', 'Los Angeles', 'Austin...",Staff Data Engineer,['REMOTE']
2,/company/capital-one,[],True,False,81846,0,False,"['Chicago', 'Colorado', 'Los Angeles', 'Austin...",False,Capital One,...,IGNORE_REMOTE_FLAG,REMOTE_ENABLED,184748.0,132699.0,0.0,annual,2023-03-04 19:45:25,"['Chicago', 'Colorado', 'Los Angeles', 'Austin...",Senior Data Engineer (Remote-Eligible),"['HYBRID', 'REMOTE', 'IN-OFFICE']"
3,/company/warner-bros-discovery,[],True,True,64944,0,False,NaN,False,Warner Bros. Discovery,...,NOT_REMOTE,NOT_REMOTE,279492.0,150496.0,0.0,annual,2023-03-04 05:41:09,NaN,Principal Data Scientist,['IN-OFFICE']
4,/company/restaurant-brands-international,[],True,False,64944,0,False,NaN,False,Restaurant Brands International,...,NOT_REMOTE,NOT_REMOTE,154310.0,83090.0,0.0,annual,2023-03-04 05:38:28,NaN,"Sr. Manager, Business Analytics",['IN-OFFICE']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7571,/company/deepscribe,[],False,False,98020,0,True,[],False,DeepScribe,...,REMOTE_ENABLED,REMOTE_ENABLED,0.0,0.0,0.0,NaN,2023-01-10 15:26:14,NaN,Data Scientist,NaN
7572,/company/icertis,[],False,False,86596,0,True,[],False,Icertis,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-01-05 09:32:43,NaN,Senior Data Scientist - NLP - Remote,NaN
7573,/company/icertis,[],False,False,86596,0,True,[],False,Icertis,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-01-05 09:32:34,NaN,Principal Data Scientist - NLP - Remote,NaN
7574,/company/bottomline-technologies,[],False,False,89050,0,True,[],False,Bottomline Technologies,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-01-04 07:50:08,NaN,Matching Specialist,NaN
7575,/company/dealeron,[],False,False,70945,0,True,[],False,DealerOn,...,NOT_REMOTE,NOT_REMOTE,0.0,0.0,0.0,NaN,2023-01-02 00:49:44,NaN,Data Specialist I,NaN

In [6]:
df['total_employees'].mean()

18298.337249208027

In [7]:
df['remote_status'].value_counts()

NOT_REMOTE        5485
REMOTE_ENABLED    2091
Name: remote_status, dtype: int64

In [8]:
df['company_title'].value_counts()

Capital One               165
JPMorgan Chase            137
Warner Bros. Discovery     72
Chewy                      70
City National Bank         68
                         ...
CTS Engines                 1
Stable Kernel               1
LL Flooring                 1
POLITICO                    1
DealerOn                    1
Name: company_title, Length: 2739, dtype: int64

In [17]:
df['salary_max'].mean()

46253.67278247096

In [19]:
df['salary_min'].mean()

32315.509134107706

In [11]:
df.loc[df['salary_max'].idxmax()]

company_alias                                   /company/warner-bros-discovery
company_perks                                                               []
elite                                                                     True
high_volume_poster                                                        True
company_id                                                               64944
job_slots                                                                    0
limited_listing                                                          False
locations                                                                  NaN
premium                                                                  False
company_title                                           Warner Bros. Discovery
total_employees                                                              0
job_alias                               /job/data/svp-digital-research/1509097
job_description              Every great story has a new beginning, and you...
category_id                                                                147
company_size                                                               NaN
easy_apply                                                               False
yrs_experience                                                              7+
hot_job_score                                                              0.0
apply_link                   https://careers.wbd.com/global/en/job/R000060691/
hybrid                                                                   False
job_id                                                                 2497482
industry_id                                               [175, 195, 200, 215]
is_national                                                               True
job_location                                                       Atlanta, GA
original_location                                             Atlanta, Georgia
remote                                                              NOT_REMOTE
remote_status                                                       NOT_REMOTE
salary_max                                                            499057.0
salary_min                                                            268723.0
salary_single_value                                                        0.0
salary_type                                                             annual
sort_date                                                  2023-03-03 05:35:58
targeted_remote_locations                                                  NaN
job_title                                                SVP, Digital Research
working_options                                                  ['IN-OFFICE']
Name: 35, dtype: object

In [12]:
df.loc[df['salary_max'].idxmax()]['salary_max']

499057.0

In [13]:
df['original_location'].value_counts()

Remote                484
New York, New York    184
New York, NY          155
United States         154
Atlanta, Georgia      137
                     ...
Boston, MA, USA         1
Spokane, WA             1
Fremont, CA             1
bangalore               1
Portsmouth, NH          1
Name: original_location, Length: 1481, dtype: int64

In [14]:
df.dtypes

company_alias                 object
company_perks                 object
elite                           bool
high_volume_poster              bool
company_id                     int64
job_slots                      int64
limited_listing                 bool
locations                     object
premium                         bool
company_title                 object
total_employees                int64
job_alias                     object
job_description               object
category_id                    int64
company_size                  object
easy_apply                      bool
yrs_experience                object
hot_job_score                float64
apply_link                    object
hybrid                          bool
job_id                         int64
industry_id                   object
is_national                     bool
job_location                  object
original_location             object
remote                        object
remote_status                 object
salary_max                   float64
salary_min                   float64
salary_single_value          float64
salary_type                   object
sort_date                     object
targeted_remote_locations     object
job_title                     object
working_options               object
dtype: object

In [16]:
df['yrs_experience'].value_counts()

1-3    2291
3-5    2216
5-7    1886
7+     1175
0         6
1         2
Name: yrs_experience, dtype: int64